# Configuración de URLs públicas (Frontend)
NEXT_PUBLIC_BASE_URL=your_base_url                  # URL base de la aplicación frontend
NEXT_PUBLIC_API_URL=your_api_url                    # URL del backend API para las solicitudes
NEXT_PUBLIC_AUTH_API=your_auth_api_url              # URL del servicio de autenticación
NEXT_PUBLIC_SWAGGER_API_URL=your_swagger_api_url    # URL de la documentación Swagger del backend
NEXT_PUBLIC_FILES_API=your_files_api_url            # URL del servicio de almacenamiento de archivos

# Configuración de Azure Active Directory
AZURE_AD_CLIENT_ID=your_azure_client_id             # ID de cliente de Azure AD
AZURE_AD_CLIENT_SECRET=your_azure_client_secret     # Secreto de cliente de Azure AD
AZURE_AD_TENANT_ID=your_azure_tenant_id             # ID del tenant de Azure AD

# Configuración de autenticación para NextAuth
NEXTAUTH_SECRET=your_nextauth_secret                # Secreto utilizado por NextAuth
