body {
  transition-property: opacity, transform, filter, background;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: #F5F6F8;
  transform: translateY(40px);
  filter: blur(12px);
}

